<h2> Prueba de Titulo</h2>
<p class="p1"> Este es un parrafo de tipo 1</p>
<p class="p2"> Estes es un Parrafo de tipo 2</p>
<ul>
  <li><a href="https://www.w3schools.com/">LINK #1</a></li>
  <li><a href="https://anaconda.org/anaconda/conda"> LINK #2</a> </li>
  <li><a href="https://www.spotify.com/co-es/download/windows/"> LINK #3</a></li>
</ul>
<table>
  <tr>
    <th>Productos</th>
    <th>Existencias</th>
    <th>Valor</th>
  </tr>
  <tr>
    <td>iPhone</td>
    <td>10</td>
    <td>$ 2.000.000</td>
  </tr>
  <tr>
    <td>Mosue</td>
    <td>100</td>
    <td>$ 50.000</td>
  </tr>
  <tr>
    <td>PC Gamer</td>
    <td>2</td>
    <td>$ 3.000.000</td>
  </tr>
</table>
<hr>

<router-outlet />
